@import "fonts";
@import "mixins";
@import "functions";
@import "variables";
@import "typography";

body {
    font-family: "Oxygen", sans-serif;
    color: $black;
    background-color: $gray;
}

.objfit-cover {
    object-fit: cover;
}

@include generateWH("evw", "width");

@include generateWH("evh", "height");

@include generateRadius("radius");

// $spacing: (
//     (ml, margin-left),
//     (mt, margin-top),
//     (mb, margin-bottom),
//     (mr, margin-right),
//     (pl, padding-left),
//     (pt, padding-top),
//     (pb, padding-bottom),
//     (pr, padding-right)
// );

// @each $item in $spacing {
//     @include generateSpacing(nth($item, 1), nth($item, 2));
// }

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}
