@import "../../themes/variables";
@import "../../themes/functions";
@import "../../themes/mixins";

.ev-actionbar {
    margin-top: em(20);
    .ev-searchbox {
        margin-right: em(27);
    }
}

@media screen and (max-width: 767px) {
    .ev-actionbar {
        .ev-searchbox {
            margin-right: 0;
        }
    }
}
